*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: 0;
}
.background{
    width:100%;
    height:100vh;
    background:rgb(49, 233, 246);
    background-size:cover;
    background-position: center;
    /* background-blend-mode: multiply; */
}
.background svg{
    position: absolute;
    bottom:0;
}